.about {
  padding: 60px 0;
}

.about__header {
  text-align: center;
}

.about__title-descr {
  margin-top: 5px;
}

.about__body {
  text-align: center;
}

.about__subtitle {
  margin-top: 40px;
}

.about__wrapper {
  margin-top: 32px;
}
