.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  column-gap: 20px;
  justify-content: center;
}

@media(max-width: $desktopWidth) {
  .card-wrapper {
    grid-template-columns: repeat(3, 300px);
  }
}

@media(max-width: $smDesktopWidth) {
  .card-wrapper {
    grid-template-columns: 85%;
    row-gap: 20px;
    // align-items: center;
  }
}

@media(max-width: $phoneWidth) {
  .card-wrapper {
    grid-template-columns: 100%;
  }
}
