.card {
  display: inline-block;
  background-color: $bg_card;
  width: 100%;
  min-height: 230px;
  text-align: center;

  padding: 35px 35px;
}

.card__title {
  color: $fc_title;
  font-size: $fs_stitle;
  line-height: $flh_stitle;
}

.card__description {
  margin-top: 5px;
  color: $fc_text;
  font-size: $fs_text;
  line-height: $flh_text;
}

.card__img {
  margin-top: 10px;
}
