.slider__wrapper {
  position: relative;
  max-width: 1030px;
}

.slider__arrow {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include btn-reset;
  &--next {
    right: 10px;
  }

  &--prev {
    left: 10px;
  }
}

.slider__slide {
  max-width: 330px;
}

@media(max-width: $desktopWidth) {
  .slider__wrapper {
    max-width: 940px;
  }

    .slider__slide {
    max-width: 310px;
  }

  .slider__arrow {
    &--next {
      right: -20px;
    }

    &--prev {
      left: -20px;
    }
  }
}

@media(max-width: $smDesktopWidth) {
  .slider__wrapper {
    max-width: 640px;
  }

  .slider__arrow {
    &--next {
      right: 0;
    }

    &--prev {
      left: 0;
    }
  }
}

@media(max-width: $tableWidth) {
  .slider__wrapper {
    max-width: 380px;
  }

  .slider__slide {
    max-width: 100%;
  }
}

@media(max-width: $phoneWidth) {
  .slider__wrapper {
    max-width: 300px;
  }
}
