
.title {
  font-weight: $fw_main;
}

.title--hero {
  font-size: $fs_ltitle;
  line-height: $flh_ltitle;
}

.title--subtitle {
  font-size: $fs_mtitle;
  line-height: $flh_stitle;
}

.title--white {
  color: $fc_hero;
}

.title--dark {
  color: $fc_title;
}

.title-descr--hero {
  font-size: $fs_title-descr;
  font-weight: $fw_light;
  line-height: $flh_title-descr;
}

.title-descr--dark {
  color: $fc_title;
}

.title-descr--white {
  color: $fc_hero;
}
